<div class="px-2 navbar navbar-expand-md shadow sticky-top bg-white">
  <button class="navbar-toggler btn" data-bs-target="#offcanvasNavbar" data-bs-toggle="offcanvas">
    <i class="open fa fa-bars fa-2x"></i>
  </button>
  <div class="offcanvas offcanvas-start" data-bs-scroll="true" id="offcanvasNavbar" tabindex="-1">
    <div class="offcanvas-header">
      <div class="offcanvas-title"></div>
      <button class="btn p-0" data-bs-dismiss="offcanvas">
        <i class="close fa fa-close fa-2x"></i>
      </button>
    </div>
    <div class="offcanvas-body">
      <ul class="navbar-nav justify-content-start flex-grow-1 pe-1">
        <li class="nav-item p-1">
          <button [disabled]="(accountService.currentUser$ | async) === null" class="btn btn-nav fw-bold"
                  routerLink="/ranking" routerLinkActive="active">Ranking
          </button>
        </li>
        <li class="nav-item p-1">
          <button [disabled]="(accountService.currentUser$ | async) === null" class="btn btn-nav fw-bold"
                  routerLink="/broadcast-list" routerLinkActive="active">Broadcast list
          </button>
        </li>
        <li *isInRole="'Admin'" class="nav-item p-1">
          <button class="btn btn-nav fw-bold" routerLink="/users" routerLinkActive="active">Users</button>
        </li>
      </ul>
      <hr class="offcanvas-header p-0 my-2">
      <ul *ngIf="(accountService.currentUser$ | async) === null"
          class="navbar-nav justify-content-end flex-grow-1 pe-1">
        <li class="nav-item p-1">
          <button class="btn btn-nav fw-bold" routerLink="/sign-in" routerLinkActive="active">Sign in<i
            class="ms-1 fa fa-sign-in"></i></button>
        </li>
        <li class="nav-item p-1">
          <button class="btn btn-nav fw-bold" routerLink="/sign-up" routerLinkActive="active">Sign up<i
            class="ms-1 fa fa-user-plus"></i></button>
        </li>
      </ul>
      <ul *ngIf="(accountService.currentUser$ | async) as user" class="navbar-nav justify-content-end flex-grow-1 pe-1">
        <li class="nav-item p-1 d-flex align-items-center">
          <p class="py-auto my-auto">{{user.email}}</p>
        </li>
        <li class="nav-item p-1">
          <button (click)="logout()" class="btn btn-nav fw-bold">Sign out<i
            class="ms-1 fa fa-sign-out"></i></button>
        </li>
      </ul>
    </div>
    <div class="offcanvas-header justify-content-center">
      <a class="credits text-decoration-none" href="https://github.com/mizydorczyk">github.com/mizydorczyk</a>
    </div>
  </div>
</div>
